:root{
    --backgColor: #000;

    --navBackColor: #222;
    --navHovColor: #444;
    --navTextSize: 1.2rem;

    --altBackColor: #232522;

    --sectTitleSize: 2em;

    --accentColor: #ff7ddf;
    --accentColor2: #ff7ddf;
    --textColor: white;

    --marginLR: auto;
    --smolMarginLR: 2%;

    --bodyMax: 1180px;
    --borderRadius: 10px;
}

body{
    max-width: var(--bodyMax);
    margin-left: var(--marginLR);
    margin-right: var(--marginLR);
    font-family: arial;
    color: var(--textColor);
    position: relative;
    background: var(--backgColor);
}

p{
    font-size: 1.2rem;
    line-height: 1.75rem;
}

ol, li, ul{
    font-size: 1rem;
    line-height: 1.9rem;
}

#mynavbar{
    background-color: var(--navBackColor);
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

.nav-item{
    color: var(--textColor);
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    font-size: var(--navTextSize);
    font-weight: bold;
    border-radius: var(--borderRadius);
}

.nav-item:hover{
    background-color: var(--navHovColor);
}
.nav-link:hover{
    color: var(--accentColor);
}

.nav-link{
    text-align: center;
}

/* h1{
    font-size: var(--sectTitleSize);
    font-weight: bold; 
}

h2{
    font-size: 1.5rem;
    line-height: 2em;
} */

h1,h2,h3,h4,h5{
    font-weight: bold;
}

section hr{
    background-color: var(--accentColor);
}

section{
    z-index: 1;
}

code{
    color: var(--accentColor2);
    background-color: var(--altBackColor);
    border-radius: var(--borderRadius);
    padding: 5px;
}

/* 

STATUS SECTION 

*/

.status{
    min-height: 100vh;
    position: relative;
    /* border: 10px solid green; */
  }
.status h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#status-text{
    margin: 0;
    padding: 10px;
    border-radius: var(--borderRadius);
    display: inline-block;
}

.status p{
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: var(--borderRadius);
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--altBackColor);
}

/* 

ABOUT SECTION

*/



/* 

FAQS SECTION

*/

.faqs div{
    margin-top: 0;
    /* padding-top: 7.5vh; */
}

.faqs a{
    text-decoration: none;
    color: var(--accentColor);
}

.faqs hr{
    background-color: var(--accentColor);
}

.faqs ul{
    line-height: 2em;
}

/* navbar smaller than max width */
@media screen and (max-width:1200px){
    #mynavbar{
        border-radius: 0;
    }
}

@media screen and (max-width:576px){
    .nav-link{
        text-align: right;
        margin-right: 10px;
    }
}